<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/JavaScript">
      AutoRefresh(s = 1000, m = 60*s)
            function AutoRefresh() {
               setTimeout("location.reload(true)", 10*m);
            }
      </script>
</head>
<body>
   refreshExpress
</body>
</html>
